<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
</head>

<body>
  <header>
    <!-- place navbar here -->
  </header>
  <main>
    <div class="container">
      <div class="d-flex w-100 justify-content-end">
        <a class="text-decoration-none btn-link" href="/danh-sach-truyen">Quay về</a>
      </div>
      <div class="d-flex w-100 justify-content-sm-start row">
        <div class="d-flex row justify-content-center">
          <img class="img-fluid w-25 overflow-hidden" style="height: 40vh" src="<%=data.chiTiet.anhBia[0]%>" alt="Card image cap">
          <div class="info d-block row w-75">
            <h2><%=data.chiTiet.tenTruyen%><br></h2>
            <div><span class="fw-bold">Tác giả: </span><%=data.chiTiet.tacGia%><br></div>
            <div><span class="fw-bold">Ngày xuất bản: </span><%=data.chiTiet.ngayXuatBan%><br></div>
            <div><span class="fw-bold">Mô tả: </span><%=data.chiTiet.moTa%><br></div>
          </div>
        </div>
        <a class="text-decoration-none btn btn-primary w-25 m-2" href="/noi-dung/<%=data.chiTiet._id%>">Xem nội dung</a>
        <form method="GET" action="" class="d-flex justify-content-between">
          <input type="text" name="fullname" class="m-1 form-control" placeholder="Tìm tên người dùng"/> <br>
          <input type="text" name="moTa" class="m-1 form-control" placeholder="Mô tả"/> <br>
          <input type="number" name="limit" min="1" max="1000" class="m-1 form-control" placeholder="Số bản ghi"/> <br>
          <input type="number" name="page" min="1" max="1000" class="m-1 form-control" placeholder="Trang"/> <br>
          <button class="btn btn-primary m-1" type="submit" value="submit">Tìm</button>
        </form>
        <div>
          <form method="POST" action="/binh-luan/<%=data.chiTiet._id%>" class="d-flex justify-content-between" id="formBinhLuan">
            <input type="text" name="moTa" class="form-control w-75 m-1" placeholder="Nhập bình luận"/> <br>
            <button class="btn btn-primary m-1 w-25" type="submit" value="submit">Gửi tin</button>
          </form>
        </div>
        <div class="tab-content d-flex col align-content-center m-1">
          <span class="fw-bold">Tổng số bình luận: &nbsp; </span>
          <span><%=data.soLuong%></span>
        </div>
        <div class="tab-content d-flex row justify-content-center m-1">
          <table class="table text-break table-bordered">
            <thead>
              <tr class="bg-secondary bg-opacity-50 text-bg-info">
                <th scope="col" class="col-1">STT</th>
                <th scope="col" class="col-2">Tên người dùng</th>
                <th scope="col" class="col-1">Thời gian tạo</th>
                <th scope="col" class="col-4">Mô tả</th>
                <th scope="col" class="col-1">Action</th>
              </tr>
            </thead>
            <tbody>
              <%for(var i = 0; i < data.binhLuan.length; i++){%>
                <tr>
                  <th scope="row"><%=i+1%></th>
                  <td><%=data.binhLuan[i].fullname%></td>
                  <td><%=data.binhLuan[i].thoiGianBinhLuan%></td>
                  <td><%=data.binhLuan[i].moTa%></td>
                  <td><a class="text-decoration-none deleteBtn btn btn-danger" href="/xoa-binh-luan/<%=data.chiTiet._id%>/<%=data.binhLuan[i]._id%>">Xóa</a></td>
                </tr>
              <%}%>
            </tbody>
          </table>
        </div>
        <!-- <div>
          <%for(var i = 0; i < data.binhLuan.length; i++){%>
            <div class="card d-flex justify-content-center m-2">
              <div class="card-body d-flex row">
                <div class="d-flex justify-content-between">
                  <div>
                    <span class="fw-bold"><%=data.binhLuan[i].fullname%></span>
                    <span class="fw-light fs-6"><%=data.binhLuan[i].thoiGianBinhLuan%></span>
                  </div>
                  <a class="text-decoration-none deleteBtn" href="/xoa-binh-luan/<%=data.chiTiet._id%>/<%=data.binhLuan[i]._id%>">Xóa</a>
                </div>
                <div><%=data.binhLuan[i].moTa%><br></div>
              </div>
            </div>
          <%}%>
        </div> -->
      </div>
    </div>
  </main>
  <footer>
    <script type='text/javascript'>
      let myidtoinsert = window.location.toString();
      if(myidtoinsert.indexOf('?') != -1){
        myidtoinsert = myidtoinsert.substring(myidtoinsert.lastIndexOf('/')+1, myidtoinsert.indexOf('?'));
      } else {
        myidtoinsert = myidtoinsert.substring(myidtoinsert.lastIndexOf('/')+1);
      }
      let list = document.querySelectorAll("#formBinhLuan")
      for (let i = 0; i < list.length; i++) {
        list[i].action += "/" + myidtoinsert;
      }
      let anchor = document.querySelectorAll("a")
      for (let i = 0; i < anchor.length; i++) {
        anchor[i].href += "/" + myidtoinsert;
      }
      //Xóa
      var elems = document.getElementsByClassName('deleteBtn');
      var confirmIt = function (e) {
          if (!confirm('Bạn có muốn xóa?')) e.preventDefault();
      };
      for (var i = 0, l = elems.length; i < l; i++) {
          elems[i].addEventListener('click', confirmIt, false);
      }
      const urlParams = new URLSearchParams(window.location.search);
      $( "input[name*='fullname']" ).val(urlParams.get('fullname'))
      $( "input[name*='moTa']" ).val(urlParams.get('moTa'))
      $( "input[name*='limit']" ).val(urlParams.get('limit'))
      $( "input[name*='page']" ).val(urlParams.get('page'))
    </script>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>